* {
  padding: 0%;
  margin: 0%;
}

.bcontactos {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#145ca0), to(#be1934));
  background: linear-gradient(#145ca0, #be1934);
}

.bcontactos header .row {
  background-color: black;
}

.bcontactos header .row .navitem {
  font-family: "Koulen", cursive;
  color: white;
  font-size: 2.4rem;
}

.bcontactos header .row .navitem:hover {
  color: #0956e6;
}

.bcontactos main fieldset {
  background-color: #be0505;
  border: black solid 8px;
  border-radius: 10px;
  width: 44%;
  margin: 1.4%;
  margin: 2% auto;
}

.bcontactos main fieldset h2 {
  margin: 1%;
  margin-left: 2.5%;
  font-family: 'Koulen';
  font-size: 40px;
  color: #f7f7f7;
  font-weight: lighter;
  font-style: inherit;
}

.bcontactos main fieldset .form-group {
  font-family: 'Koulen';
  font-size: 26px;
  color: #f7f7f7;
  font-weight: lighter;
  font-style: inherit;
  margin: 1.5%;
}

.bcontactos main fieldset .form-group .form-control {
  font-size: 26px;
}

.bcontactos main fieldset .form-group #paises {
  font-family: 'Koulen';
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2%;
}

.bcontactos main fieldset .form-group #paises .countries {
  margin-top: -0.7%;
  margin: 0;
  border-radius: 4px;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
  width: 24%;
  height: 110%;
}

.bcontactos main fieldset .form-group .enviar {
  font-size: 22px;
}

.bcontactos main #redes {
  margin: 2% auto;
  background-color: #be0505;
  border: black solid 8px;
  border-radius: 10px;
  width: 40%;
}

.bcontactos main #redes .icono {
  background-color: white;
  border: white solid 9px;
  border-radius: 50%;
}

.bcontactos footer {
  font-family: "Koulen", cursive;
  font-size: 18px;
  font-weight: lighter;
  font-style: inherit;
  color: lightgray;
  background-color: black;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bcontactos footer .hola {
  width: 100%;
  bottom: 0%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  body main #redes {
    width: 80% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main #redes .redes__item {
    width: 25%;
    background-color: none;
  }
}

@media (max-width: 1293px) {
  body main fieldset {
    width: 80%;
    margin: 1% auto;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  body main #redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
  }
  body footer .hola {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */