$fuente:'Koulen', cursive;

*{
    padding:0%;
    margin: 0%;
}
/* ola que tal como estamos aki knkro*/

.bcontactos {
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgb(20, 92, 160),rgb(190, 25, 52));
    background-repeat: no-repeat;
    background-size:auto;
    display: flex;
    flex-direction: column;
    header{   
        .row{
            background-color: black;
            .navitem{
                font-family:$fuente;
                color: white;
                font-size: 2.4rem;
                &:hover{
                    color: rgb(9, 86, 230);
                }
            }
        }
    }
    main{
        fieldset{
            background-color: #be0505;;
            border: black solid 8px;
            border-radius: 10px;
            width: 44%;
            margin: 1.4%;
            margin: 2% auto;
            h2{    
                margin: 1%;
                margin-left:2.5%;
                font-family: 'Koulen';
                font-size: 40px;
                color: rgb(247, 247, 247);
                font-weight: lighter;
                font-style:inherit;
            }
            .form-group{
                font-family: 'Koulen';
                font-size: 26px;
                color: rgb(247, 247, 247);
                font-weight: lighter;
                font-style:inherit;
                margin: 1.5%;
                .form-control{
                font-size: 26px;
                }
                #paises{
                    font-family: 'Koulen';
                    font-size: 26px;
                    display: flex;
                    flex-direction: row;
                    gap: 2%;
                    .countries{
                        margin-top: -0.7%;
                        margin: 0;
                        border-radius:4px;
                        background: #f8f8f8;
                        color:#888;
                        border:none;
                        outline:none;
                        display: inline-block;
                        -webkit-appearance:none;
                        -moz-appearance:none;
                        appearance:none;
                        cursor:pointer;
                        text-align: center;
                        width: 24%;
                        height: 110%;
                    }
                }
                .enviar{
                    font-size: 22px;
                }
            }       
        }
        #redes{
            margin: 2% auto;
            background-color: #be0505;;
            border: black solid 8px;
            border-radius: 10px;
            width:40%;
            .icono{
                background-color: white;
                border: white solid 9px;
                border-radius:50%;   
            }
        }
    }
    footer{
        width: 100%;
        font-family: $fuente;
        font-size: 18px;
        font-weight: lighter;
        font-style:inherit;
        color: rgb(211, 211, 211);
        background-color: black;  
        margin-top: 1.7%;
        margin-bottom: 0%;
        .hola{
            width: 100%;
            display:flex;
            justify-content: flex-end;
            bottom: 0%;
            position:fixed;
        }    
    }
}
@media (max-width: 768px){
    .bcontactos{
      height: 100%;
    }
    .bcontactos main fieldset {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bcontactos main #redes{
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bcontactos main #redes .icono{
        width: 70px;
    }
}

@media (max-width:1293px){
    .bcontactos{
        height: 100%;
      }
      .bcontactos main fieldset {
          width: 80% ;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
      }
      .bcontactos main #redes{
          width: 80% ;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
      }
      .redes__item{
          width: 25%;
          background-color: none;
      }
  }
