* {
  padding: 0%;
  margin: 0%;
}

body {
  width: 100%;
  height: 150vh;
  overflow-x: hidden;
  background: radial-gradient(white, black);
}

body header .row {
  background-color: black;
}

body header .row .navitem {
  font-family: "Koulen", cursive;
  color: white;
  font-size: 2.4rem;
}

body header .row .navitem:hover {
  color: #0956e6;
}

body main .contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  padding: 0.4%;
  height: auto;
}

body main .contenedor .ficha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: nowrap;
      -ms-flex: nowrap;
          flex: nowrap;
  border: 8px black;
  border-style: solid;
  border-radius: 8px;
  margin: 1.2%;
  height: 410px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1);
          transform: scale(1);
  height: auto;
}

body main .contenedor .ficha:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

body main .contenedor .ficha .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 3%;
}

body main .contenedor .ficha h3 {
  font-size: larger;
  font-size: 23px;
  font-family: unset;
  color: black;
  font-size: bolder;
  font-weight: bold;
  font-family: "Koulen", cursive;
}

body main .contenedor .ficha .pj {
  border: 15px #5e5252 groove;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2%;
}

body main .contenedor .ficha p {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: nowrap;
      -ms-flex: nowrap;
          flex: nowrap;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.05rem;
}

body main .contenedor #ficha1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#8eb1ff), to(#294db1));
  background: linear-gradient(#8eb1ff, #294db1);
}

body main .contenedor #ficha2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f38d), to(#d8c305));
  background: linear-gradient(#f5f38d, #d8c305);
}

body main .contenedor #ficha3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#d66060), to(#b80000));
  background: linear-gradient(#d66060, #b80000);
}

body main .contenedor #ficha4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9ef2), to(#f547cf));
  background: linear-gradient(#ff9ef2, #f547cf);
}

body main .contenedor #ficha5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#363636));
  background: linear-gradient(#999999, #363636);
}

body main .contenedor #ficha6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#d85454), to(#641d1d));
  background: linear-gradient(#d85454, #641d1d);
}

body main .contenedor #ficha6 #eggman {
  background-color: white;
}

body footer {
  font-family: "Koulen", cursive;
  font-size: 18px;
  font-weight: lighter;
  font-style: inherit;
  color: lightgray;
  background-color: black;
  position: absolute;
  width: 100%;
}

body footer .hola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 94%;
  bottom: 0%;
  position: fixed;
  display: none;
}

@media (max-width: 1300px) {
  .contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr;
    height: auto;
    overflow-x: hidden;
}
  .ficha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 8px black;
    border-style: solid;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
  }
  .ficha:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    display: none;
  }
    body main .contenedor .ficha {
      -webkit-transition: scale(1);
      transition: none;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
@media (max-width: 768px) {
  body main .contenedor{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
     height: auto;
     width: auto;
 }
   .ficha {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     border: 8px black;
     border-style: solid;
     border-radius: 8px;
     margin-left: 5%;
     margin-right: 5%;
     height: auto;
   }
   .ficha:hover {
     -webkit-transform: none;
             transform: none;
     display: none;
   }
     body main .contenedor .ficha {
       -webkit-transition: none;
       transition: none;
       -webkit-transform: none;
               transform: none;
     }
 }
/*# sourceMappingURL=styles.css.map */