*{
    padding:0%;
    margin: 0%;
}
body {
    width:100%;
    height: 150vh;
    overflow-x: hidden;
    background:radial-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
}   
header{
    background-color: black;
}

.row{
    background-color: black;
}
.navitem{
    font-family: 'Koulen', cursive;
    color: white;
    font-size: 2.4rem;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    padding: 0.4%;
    height: auto;
}
.ficha{
    display: flex;
    flex: nowrap;
    border: 8px black;
    border-style: solid;
    border-radius: 8px;
    margin: 1.2%;
    height: 410px;
    transition: 1s;
    transform: scale(1);
    height: auto;
}
.ficha:hover{
    transform: scale(1.02);
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
h3{
    font-size: larger;
    font-size: 23px;
    font-family: unset;
    color: black;
    font-size: bolder;
    font-weight: bold;
    font-family: 'Koulen', cursive;
}

#ficha1{
    background: linear-gradient(rgb(142, 177, 255),rgb(41, 77, 177));
}   
#ficha2{
    background: linear-gradient(rgb(245, 243, 141),rgb(216, 195, 5))
}
#ficha3{
    background: linear-gradient(rgb(214, 96, 96),rgb(184, 0, 0))
}
#ficha4{
    background: linear-gradient(rgb(255, 158, 242),rgb(245, 71, 207))
}
#ficha5{
    background: linear-gradient(rgb(153, 153, 153),rgb(54, 54, 54))
}
#ficha6{
    background: linear-gradient(rgb(216, 84, 84),rgb(100, 29, 29));
}
.info{
    padding: 3%;
}
#eggman{
    background-color: white;
}
.pj{
    border: 15px rgb(94, 82, 82) groove;
    align-self: center;
    margin:2%;
}
p{
    margin: 0%;
    display: flex;
    flex: nowrap;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.05rem;
}
footer {
    font-family: 'Koulen';
    font-size: 18px;
    font-weight: lighter;
    font-style:inherit;
    color: rgb(211, 211, 211);
    background-color: black;
    position:absolute;
    width:100%;
}
h4{
    margin:25px auto;
    margin-left: 5px;
}
.hola {
   display:flex;
   justify-content: flex-end;
   margin-left:94%;
   bottom: 0%;
   position:fixed;
   display: none;
}

@media (max-width:1300px){
.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: auto;
}
.ficha{
    display: flex;
    flex-direction: column;
    border: 8px black;
    border-style: solid;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}
.ficha:hover{
    transform: scale(1.02);
    display: none;
}
}
