$fuente:'Koulen', cursive;

*{
    padding:0%;
    margin: 0%;
}

$colors1:(rgb(142, 177, 255),rgb(41, 77, 177));
$colors2:(rgb(245, 243, 141),rgb(216, 195, 5));
$colors3:(rgb(214, 96, 96),rgb(184, 0, 0));
$colors4:(rgb(255, 158, 242),rgb(245, 71, 207));
$colors5:(rgb(153, 153, 153),rgb(54, 54, 54));
$colors6:(rgb(216, 84, 84),rgb(100, 29, 29));


@mixin gradient($colors) { 
    background: -webkit-linear-gradient($colors);
    background: -moz-linear-gradient($colors);
    background: -o-linear-gradient($colors);
    background: linear-gradient($colors);  
}

body{
    width:100%;
    height:150vh;
    overflow-x:hidden;
    background:radial-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
    header{   
        .row{
            background-color: black;
            .navitem{
                font-family:$fuente;
                color: white;
                font-size: 2.4rem;
                &:hover{
                    color: rgb(9, 86, 230);
                }
            }
        }
    }
    main{
        .contenedor{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr ;
            padding: 0.4%;
            height: auto;
            .ficha{
                display: flex;
                flex: nowrap;
                border: 8px black;
                border-style: solid;
                border-radius: 8px;
                margin: 1.2%;
                height: 410px;
                transition: 1s;
                transform: scale(1);
                height: auto;
                &:hover{
                    transform: scale(1.02);       
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    padding: 3%;
                }
                h3{
                    font-size: larger;
                    font-size: 23px;
                    font-family: unset;
                    color: black;
                    font-size: bolder;
                    font-weight: bold;
                    font-family: $fuente;
                }
                .pj{
                    border: 15px rgb(94, 82, 82) groove;
                    align-self: center;
                    margin:2%;
                }
                p{
                    margin: 0%;
                    display: flex;
                    flex: nowrap;
                    align-self: center;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: bold;
                    color: black;
                    font-size: 1.05rem;
                }
            }
            #ficha1{
                @include gradient ($colors1);
            }   
            #ficha2{
                @include linear-gradient($colors2);
            }
            #ficha3{
                @include linear-gradient($colors3);
            }
            #ficha4{
                @include linear-gradient($colors4);
            }
            #ficha5{
                @include linear-gradient($colors5);
            }
            #ficha6{
                @include linear-gradient($colors6);
                #eggman{
                    background-color: white;
                }
            }
        }  
    }
    footer{
        font-family: $fuente;
        font-size: 18px;
        font-weight: lighter;
        font-style:inherit;
        color: rgb(211, 211, 211);
        background-color: black;
        position:absolute;
        width:100%;
        .hola {
            display:flex;
            justify-content: flex-end;
            margin-left:94%;
            bottom: 0%;
            position:fixed;
            display: none;
         }
    }
}
@media (max-width:1300px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: auto;
    }
    .ficha{
        display: flex;
        flex-direction: column;
        border: 8px black;
        border-style: solid;
        border-radius: 8px;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }
    .ficha:hover{
        transform: scale(1.02);
        display: none;
    }
}   