* {
  padding: 0%;
  margin: 0%;
}

body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/171fc7bd-3978-44d2-819c-ee56cff1fa60/d4yesjq-80cfd763-e4a1-43c5-9d90-5b7be67ddfb9.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE3MWZjN2JkLTM5NzgtNDRkMi04MTljLWVlNTZjZmYxZmE2MFwvZDR5ZXNqcS04MGNmZDc2My1lNGExLTQzYzUtOWQ5MC01YjdiZTY3ZGRmYjkuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mbH37W-DuI-AL-Pp7fCPeqSUX7OThp1znehNYMN_c_I);
  background-repeat: no-repeat;
  background-size: cover;
}

body header .row {
  background-color: black;
}

body header .row .navitem {
  font-family: "Koulen", cursive;
  color: white;
  font-size: 2.4rem;
}

body main .video {
  margin-left: 55%;
  margin-top: 2.3%;
  margin-bottom: 2.3%;
  height: 24rem;
}

body main .video iframe {
  border: rgba(179, 31, 31, 0.993) groove 25px;
  border-radius: 20px;
}

body main .bestsellers {
  border: 10px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc8b00), to(#dbc925));
  background: linear-gradient(#cc8b00, #dbc925);
  font-size: 2.4rem;
  border-left: none;
  border-right: none;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .bestsellers .noticias {
  font-size: 3.5rem;
  margin: 0.5%;
  color: #f7f3f3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#8b0303));
  background: linear-gradient(red, #8b0303);
  font-family: "Koulen", cursive;
  border: 10px black solid;
  border-radius: 5px;
}

body main .bestsellers .carto {
  border: 11px solid black;
  border-bottom: none;
}

body main .bestsellers .carta {
  border: 11px solid black;
  font-family: "Koulen", cursive;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#8b0303));
  background: linear-gradient(red, #8b0303);
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

body footer {
  font-family: "Koulen", cursive;
  font-size: 18px;
  font-weight: lighter;
  font-style: inherit;
  color: lightgray;
  background-color: black;
  position: absolute;
  width: 100%;
}

body footer .hola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 94%;
  bottom: 0%;
  position: fixed;
}

@media (max-width: 1500px) {
  .hola {
    display: none;
  }
  .video {
    margin: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 410px) {
  .hola {
    display: none;
  }
  .video {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */