$fuente:'Koulen', cursive;

*{
    padding:0%;
    margin: 0%;
}
body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/171fc7bd-3978-44d2-819c-ee56cff1fa60/d4yesjq-80cfd763-e4a1-43c5-9d90-5b7be67ddfb9.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE3MWZjN2JkLTM5NzgtNDRkMi04MTljLWVlNTZjZmYxZmE2MFwvZDR5ZXNqcS04MGNmZDc2My1lNGExLTQzYzUtOWQ5MC01YjdiZTY3ZGRmYjkuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mbH37W-DuI-AL-Pp7fCPeqSUX7OThp1znehNYMN_c_I);
    background-repeat: no-repeat;
    background-size: cover;
    header{   
        .row{
            background-color: black;
            .navitem{
                font-family:$fuente;
                color: white;
                font-size: 2.4rem;
                &:hover{
                    color: rgb(9, 86, 230);
                }
            }
        }
    }     

    main{
        .video{
            margin-left:55%;
            margin-top: 2.3%;
            margin-bottom: 2.3%;
            height: 24rem;
            iframe{
                border: rgba(179, 31, 31, 0.993) groove 25px;
                border-radius: 20px;
            }
        }
        .bestsellers{
            border: 10px solid black;
            background: linear-gradient(rgb(204, 139, 0),   rgb(219, 201, 37));
            font-size: 2.4rem;
            border-left: none;
            border-right:none;  
            border-bottom: none;
            display: flex;
            .noticias{
                font-size: 3.5rem;
                margin: 0.5%;
                color: rgb(247, 243, 243);
                justify-content: center;
                background:linear-gradient(red,rgb(139, 3, 3));
                font-family: $fuente;
                border: 10px black solid;
                border-radius: 5px;
            }
            .carto{
                border: 11px solid rgb(0, 0, 0);
                border-bottom: none;
            }
            .carta{
                border: 11px solid rgb(0, 0, 0);
                font-family: $fuente;
                background:linear-gradient(red,rgb(139, 3, 3));
                height: 135px;
                display: flex;
                text-align: center;
            }
        }
    }
    footer{
        font-family: $fuente;
        font-size: 18px;
        font-weight: lighter;
        font-style:inherit;
        color: rgb(211, 211, 211);
        background-color: black;
        position:absolute;
        width:100%;
        .hola{
            display:flex;
            justify-content: flex-end;
            margin-left:94%;
            bottom: 0%;
            position:fixed;
        }    
    }
}
@media (max-width:1500px){
    .hola{
        display: none;
    }
    .video{
        margin: 2%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width:410px) {
    .hola{
        display: none;
    }
    .video{
        display: none;
    }
}